.image-container {
    position: relative;
    display: inline-block;
  }

  p-checkbox {
    position: absolute;
    top: 10px; /* Adjust the position as needed */
    left: 10px; /* Adjust the position as needed */
  }