<p-toast></p-toast>

<div class="grid justify-content-center" style="margin:2px;height:100%">


  <ng-container *ngFor="let image of images; index as i">

    <p-card class="card" [style]="{ width: '310px', height:'400px', padding:'5px',margin:'10px'}">
      <ng-template pTemplate="header">

        <img src="https://heidigi-app-38b2318c83b0.herokuapp.com/image/{{image.publicId}}" alt="Image" style=" overflow: hidden;
            width: 300px;
            height: 300px;
            border-radius: 8px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);">
        <div class="grid justify-content-between"
          style="padding-left:15px;padding-right:15px;padding-top:10px;align-items: center;">
          <div>
            <div class="text-900 p-1 font-medium text-xl mb-2">{{image.category}}</div>
            <div class="text-600 p-1 mb-2">{{image.subCategory}}</div>
          </div>
          <div class="grid justify-content-between" *ngIf="role==='Customer'">
            <div style="padding-right:3px">
              <!-- <i class="pi pi-download" style="font-size: 2rem" (click)="downloadImage(image)"></i> -->
              <button pButton pRipple type="button" [icon]="getIcon(i)" [disabled]="getDisableStatus(i)"
                class="p-button-rounded p-button-warning" (click)="messageService.clear();downloadImage(i,image)"></button>
            </div>
            <div> <button pButton pRipple type="button" icon="pi pi-share-alt" class="p-button-rounded p-button-help"
                (click)="postToFacebook(image)"></button>
            </div>
          </div>
        </div>

      </ng-template>


    </p-card>
  </ng-container>

</div>

<p-blockUI [blocked]="loading">
  <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color:#B6FFFA"></i>
</p-blockUI>


<p-dialog [modal]="true" header="Upload Image" [(visible)]="uploadTemplateVisible">

  <p-tabView>
    <p-tabPanel header="Template 1">
       
      Template 1
    </p-tabPanel>

    <p-tabPanel header="Template 2">
       
      Template 1
    </p-tabPanel>
    </p-tabView>


</p-dialog>



<p-dialog [modal]="true" header="Upload Image" [(visible)]="uploadImageVisible">

  <p-messages></p-messages>

  <label for="name" class="block text-900 font-medium mb-2">Category</label>
  <input id="name" type="text" placeholder="Category" [(ngModel)]="category" pInputText class="w-full mb-3">

  <label for="name" class="block text-900 font-medium mb-2">SubCategory</label>
  <input id="name" type="text" placeholder="SubCategory" [(ngModel)]="subcategory" pInputText class="w-full mb-3">

  <p-fileUpload name="file" [customUpload]="true" [files]="uploadedFiles" (uploadHandler)="handleUpload($event)" accept="image/*"
    [maxFileSize]="5000000">
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
      </ul>
    </ng-template>
  </p-fileUpload>
</p-dialog>


<p-dialog [modal]="true" [closable]="false" [header]="successString" [(visible)]="uploadSuccess">
  <p>
    <img src="assets/images/success.jpg" alt="Image" height="200">
  </p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" label="Done" (click)="uploadDone()" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<div class="icon-bar">

  <div style="padding:0px;padding-bottom:3px">
    <button pButton pRipple type="button" icon="pi pi-upload" (click)="uploadImageVisible=true; category=''; subcategory='';uploadedFiles=[];"
      ></button>
  </div>
 

  <div style="padding:0px;padding-bottom:3px">
    <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-secondary" (click)="refresh()"
      ></button>
  </div>

  <div style="padding:0px;padding-bottom:3px">
    <button pButton pRipple type="button" icon="pi pi-filter" class="p-button-warning" (click)="uploadImageVisible=true"
      ></button>
  </div>
  


  <div style="padding:0px;padding-bottom:3px">
    <button pButton pRipple type="button" icon="pi pi-search" class="p-button-success" (click)="uploadImageVisible=true"
      ></button>
  </div>
  


</div>

<!-- <p-scrollTop></p-scrollTop> -->


