<p-panel header="Filter / Add" [toggleable]="true" [collapsed]="true" class="p-3">

    <div style="padding:0">
        <div class="flex justify-content-between mb-3">
            <p-dropdown size="small" [(ngModel)]="selectedLocation" [options]="locations" placeholder="Select Location"
                optionLabel="name" [showClear]="true" class="w-full" style="max-width: 10px"></p-dropdown>
        </div>
        <div class="flex justify-content-between mb-3" #div>

            <p-calendar [minDate]="minDate" [(ngModel)]="rangeDates" size="small" style='z-index: 100;'
                [baseZIndex]="100" appendTo="div" placeholder="From Date - To Date" selectionMode="range"
                [readonlyInput]="true" class="w-full"></p-calendar>





        </div>

        <div class="flex justify-content-center mb-3" #div>
            <div class="p-2">

                <button pButton pRipple label="Filter" class="p-button-rounded p-button-outlined"
                    icon="pi pi-filter"></button>
            </div>

            <div class="p-2">

                <button pButton (click)="addTrip()" pRipple label="Add" class="p-button-rounded p-button-outlined"
                    icon="pi pi-plus"></button>
            </div>

        </div>
    </div>


</p-panel>



<div>
    <div class="grid">
        <div class="col-12" *ngFor="let trip of trips">
            <div class="surface-card shadow-2 p-3 border-round" >
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-900 font-medium mb-3">{{trip.locationName}}</span>
                        <div class="text-900 font-medium text-l"> {{ trip.fromDate | date}} - {{trip.toDate | date}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span>
            </div>
        </div>

    </div>
</div>


<p-dialog [modal]="true" [closable]="false" header="Please wait.." [(visible)]="loading">
    <div class="grid justify-content-between">
        <div>

            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>

        </div>
    </div>
</p-dialog> 