<p-confirmDialog></p-confirmDialog>

<p-messages></p-messages>

<!-- <p-panel header="Filter {{trips!=originaltrips?'*':''}} / Add" [toggleable]="true" [collapsed]="true" class="p-3">

    <div style="padding:0">
        <div class="flex justify-content-between mb-3">
            <p-dropdown size="small" [(ngModel)]="selectedLocation" [options]="locations" placeholder="Select Location"
                optionLabel="name" [showClear]="true" class="w-full" style="max-width: 10px"></p-dropdown>
        </div>
        <div class="flex justify-content-between mb-3" #div>

            <p-calendar [(ngModel)]="rangeDates" size="small" style='z-index: 100;' [baseZIndex]="100" appendTo="div"
                placeholder="From Date - To Date" selectionMode="range" [readonlyInput]="true"
                class="w-full"></p-calendar>





        </div>

        <div class="flex justify-content-center mb-3" #div>
            <div class="p-2">

                <button pButton pRipple class="p-button-rounded p-button-outlined" icon="pi pi-filter"
                    (click)="filter()"></button>
            </div>




            <div class="p-2">

                <button pButton pRipple class="p-button-rounded p-button-outlined" icon="pi pi-times"
                    (click)="removeFilter()"></button>
            </div>

            <div class="p-2">

                <button pButton (click)="add()" pRipple class="p-button-rounded p-button-outlined"
                    icon="pi pi-plus"></button>
            </div>

        </div>
    </div>


</p-panel> -->


<div class="flex justify-content-between" style="padding-top:3px; padding-bottom:10px">
    <div style="padding-right:5px">
        <button pButton pRipple icon="pi pi-plus" (click)="addVisible=true;"  class="p-button-outlined"></button>
    </div>

    <div style="padding-right:5px">
        <button pButton pRipple icon="pi pi-filter" (click)="filterVisible=true;" class="p-button-outlined"></button>
    </div>
    <div style="padding-right:5px">
        <button pButton pRipple icon="pi pi-refresh" (click)="refresh()" class="p-button-outlined"></button>
    </div>



    <div class="p-inputgroup">

        <input id="name" type="text" placeholder="Search" pInputText>

        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
    </div>

</div>


<div>
    <div class="grid">
        <div class="col-12" *ngFor="let trip of trips">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-900 font-medium mb-3">{{trip.locationName}}</span>
                        <div class="text-900 font-medium text-l"> {{ trip.fromDate | date}} - {{trip.toDate | date}}
                        </div>
                    </div>
                    <div class="grid align-items-center justify-content-center">

                        <div class="p-2">
                            <i class="pi pi-trash text-blue-500 text-xl" (click)="delete(trip)"></i>

                        </div>

                        <!-- <div (click)="showCustomerAdd(trip.locationName, trip.fromDate , trip.toDate)">
                            <i class="pi pi-plus text-blue-500 text-xl"></i>

                        </div> -->

                    </div>
                </div>
                <!--span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span-->
            </div>
        </div>

    </div>
</div>

<p-dialog [modal]="true" [closable]="true" header="Filter" [(visible)]="filterVisible"
    [style]="{'width':'500px'}">
    <div class="surface-card shadow-2 p-3 border-round justify-content-between">
    <div style="padding:0" class="w-full">
        <div class="flex justify-content-between mb-3 w-full">
            <p-dropdown size="small" [(ngModel)]="selectedLocation" [options]="locations" placeholder="Select Location"
                optionLabel="name" [showClear]="true" class="w-full" style="max-width: 10px"></p-dropdown>
        </div>
        <div class="flex justify-content-between mb-3 w-full">

            <p-calendar [(ngModel)]="rangeDates" size="small" style='z-index: 100;' [baseZIndex]="100" appendTo="body"
                placeholder="From Date - To Date" selectionMode="range" [readonlyInput]="true"
                class="w-full"></p-calendar>





        </div>

        <div class="flex justify-content-center mb-3 w-full">
            <div class="p-2 w-full">

                <button pButton pRipple class="p-button-rounded p-button-outlined" icon="pi pi-filter"
                    (click)="filter()" label="Filter" class="w-full" ></button>
            </div>




            <div class="p-2">

                <button pButton pRipple class="p-button-rounded p-button-outlined" icon="pi pi-times"
                label="Clear"   (click)="removeFilter()"></button>
            </div>

            <div class="p-2">

                <button pButton (click)="filterVisible=false" pRipple class="p-button-rounded p-button-outlined"
                label="Cancel"     icon="pi pi-times"></button>
            </div>
            <!-- <div class="p-2">

                <button pButton (click)="add()" pRipple class="p-button-rounded p-button-outlined"
                label="Add"     icon="pi pi-plus"></button>
            </div> -->

        </div>
    </div>
</div>
</p-dialog>


<p-dialog [modal]="true" [closable]="true" header="Add Trip" [(visible)]="addVisible"
    [style]="{'width':'500px'}">
    <div class="surface-card shadow-2 p-3 border-round justify-content-between">
    <div style="padding:0" class="w-full">
        <div class="flex justify-content-between mb-3 w-full">
            <p-dropdown size="small" [(ngModel)]="selectedLocation" [options]="locations" placeholder="Select Location"
                optionLabel="name" [showClear]="true" class="w-full" style="max-width: 10px"></p-dropdown>
        </div>
        <div class="flex justify-content-between mb-3 w-full">

            <p-calendar [(ngModel)]="rangeDates" size="small" style='z-index: 100;' [baseZIndex]="100" appendTo="body"
            [minDate]="minDate"  placeholder="From Date - To Date" selectionMode="range" [readonlyInput]="true"
                class="w-full">
        

            </p-calendar>





        </div>

        <div class="flex justify-content-center mb-3 w-full">
            <!-- <div class="p-2 w-full">

                <button pButton pRipple class="p-button-rounded p-button-outlined" icon="pi pi-filter"
                    (click)="filter()" label="Filter" class="w-full" ></button>
            </div>




            <div class="p-2">

                <button pButton pRipple class="p-button-rounded p-button-outlined" icon="pi pi-times"
                label="Clear"   (click)="removeFilter()"></button>
            </div> -->

             <div class="p-2">

                <button pButton (click)="addTrip()" pRipple class="p-button-rounded p-button-outlined"
                label="Add"     icon="pi pi-plus"></button>
            </div>

            <div class="p-2">

                <button pButton (click)="filterVisible=false" pRipple class="p-button-rounded p-button-outlined"
                label="Cancel"     icon="pi pi-times"></button>
            </div>
           

        </div>
    </div>
</div>
</p-dialog>



<p-dialog [modal]="true" [closable]="false" header="Please wait.." [(visible)]="loading">
    <div class="grid justify-content-between">
        <div>

            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>

        </div>
    </div>
</p-dialog>

<p-dialog [modal]="true" [closable]="true" header="Add Customer to Trip" [(visible)]="customerVisible"
    [style]="{'width':'500px'}">

    <label for="location" class="block text-900 font-medium mb-2">Location</label>

    <input id="location" type="text" [disabled]="true" [(ngModel)]="locationNameSelected" pInputText
        class="w-full mb-3">


    <label for="Trip" class="block text-900 font-medium mb-2">Trip</label>

    <input id="Trip" type="text" [disabled]="true" [(ngModel)]="tripSelected" pInputText class="w-full mb-3">

    <label for="Customer" class="block text-900 font-medium mb-2">Select Customer</label>
    <p-dropdown appendTo="body" [options]="customers" [(ngModel)]="selectedCustomer" optionLabel="name"
        [showClear]="true" [filter]="true" filterBy="name" placeholder="Select Customer">


    </p-dropdown>

    <div>&nbsp;</div>

    <button pButton pRipple label="Add Customer To Trip" class="w-full p-button-outlined" (click) = "addCustomer()"></button>

</p-dialog>