<div style="padding-right:5px" class="flex">

    <div>&nbsp;</div>
    <div>

        <button pButton pRipple label="" (click)="toHome()" class="p-button-outlined" icon="pi pi-home"></button>
    </div>
    <div>&nbsp;</div>
    <div>
        <p-splitButton styleClass="p-button-outlined" style="padding:0;margin:0" label="Add" icon="pi pi-plus"
            [model]="items"></p-splitButton>
    </div>

</div>

<div id="calendar" class="p-2"></div>


<p-dialog [modal]="true" header="Location Details" [(visible)]="locationVisible" [style]="{'width':'500px'}">
    <app-trip></app-trip>
</p-dialog>

<p-dialog [modal]="true" header="Trip Details" [(visible)]="tripVisible" [style]="{'width':'500px'}">
    <app-schedule></app-schedule>
</p-dialog>

<p-dialog [modal]="true" header="Customer Details" [(visible)]="customerVisible" [style]="{'width':'500px'}">
    <app-customer></app-customer>
</p-dialog>


<p-dialog [modal]="true" [closable]="false" header="Please wait.." [(visible)]="loading">
    <div class="grid justify-content-between">
        <div>

            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>

        </div>
    </div>
</p-dialog>


<p-dialog [modal]="true" header="Schedule Details" [(visible)]="scheduleVisible" [style]="{'width':'500px'}">
<div class="grid">
    <div class="col-12" *ngFor="let customer1 of customers">
        <div class="surface-card shadow-2 p-3 border-round">

            <p-table [value]=[customer1] styleClass="p-datatable-sm">

                <ng-template pTemplate="body" let-customer>
                    <tr style="text-align:left">

                        <th> Name </th>
                        <td style="width:80%">{{customer.split("-")[0]}}</td>
                    </tr>
                    <tr style="text-align:left">
                        <th>Email</th>
                        <td style="width:80%">{{customer.split("-")[1]}}</td>
                    </tr>
                    <tr style="text-align:left">
                        <th>Mobile</th>
                        <td style="width:80%">{{customer.split("-")[2]}}</td>
                    </tr>


                </ng-template>
            </p-table>
           
          


        </div>
    </div>
    <div *ngIf="customers.length == 0">
        No Records Found
    </div>
</div>
</p-dialog>