<div style='margin:auto; padding: 0;display: flex;justify-content: center;align-items: center; width:100%; height:100%'>
    <div class="surface-card p-2 border-round w-full lg:w-6">




        <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

            <div class="flex justify-content-between">
                <div>
                    <div class="font-medium text-3xl text-900">Calendar</div>

                </div>

                <div>
                    <button pButton pRipple label="" (click)="goRouter('calendar')" class="p-button-outlined"
                        icon="pi pi-chevron-right"></button>
                </div>

            </div>




        </div>
        <div>&nbsp;</div>

        <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

            <div class="flex justify-content-between">
                <div>
                    <div class="font-medium text-3xl text-900">Locations</div>

                </div>

                <div>
                    <button pButton pRipple label=""
                        (click)="messageService.clear();confirmationService.close();locationVisible=true"
                        class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div>

            </div>




        </div>
        <div>&nbsp;</div>

        <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

            <div class="flex justify-content-between">
                <div>
                    <div class="font-medium text-3xl text-900">Trip</div>

                </div>

                <div>
                    <button pButton pRipple label=""
                        (click)="messageService.clear();confirmationService.close();tripVisible=true"
                        class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div>

            </div>




        </div>
        <div>&nbsp;</div>

        <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

            <div class="flex justify-content-between">
                <div>
                    <div class="font-medium text-3xl text-900">Customers</div>

                </div>

                <div>
                    <button pButton pRipple label=""
                        (click)="messageService.clear();confirmationService.close();customerVisible=true"
                        class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div>

            </div>







        </div>

        <div>&nbsp;</div>
        <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

            <div class="flex justify-content-between">
                <div>
                    <div class="font-medium text-3xl text-900">Uploads</div>

                </div>

                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-plus"></button>
                </div>

            </div>







        </div>

        <div>&nbsp;</div>
        <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

            <div class="flex justify-content-between">
                <div>
                    <div class="font-medium text-3xl text-900">Rewards</div>

                </div>

                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-plus"></button>
                </div>

            </div>







        </div>
    </div>
</div>


<p-dialog [modal]="true" header="Location Details" [(visible)]="locationVisible" [style]="{'width':'500px'}">
    <app-trip></app-trip>
</p-dialog>

<p-dialog [modal]="true" header="Trip Details" [(visible)]="tripVisible" [style]="{'width':'500px'}">
    <app-schedule></app-schedule>
</p-dialog>

<p-dialog [modal]="true" header="Customer Details" [(visible)]="customerVisible" [style]="{'width':'500px'}">
    <app-customer></app-customer>
</p-dialog>