<div class="surface-card p-4 border-round">

    <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

        <div class="flex align-items-start lg:justify-content-between">
            <div>
                <div class="font-medium text-3xl text-900">Locations</div>
                <div class="flex align-items-center text-700 flex-wrap">
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center text-700 flex-wrap mt-3 lg:mt-0">
                <div>
                    <button pButton pRipple label="" (click)="messageService.clear();confirmationService.close();locationVisible=true" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div>
                <!-- <div>&nbsp;</div>
                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div> -->
            </div>
        </div>




    </div>
    <div>&nbsp;</div>

    <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

        <div class="flex align-items-start lg:justify-content-between">
            <div>
                <div class="font-medium text-3xl text-900">Trip</div>
                <div class="flex align-items-center text-700 flex-wrap">
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center text-700 flex-wrap mt-3 lg:mt-0">
                <div>
                    <button pButton pRipple label="" (click)="messageService.clear();confirmationService.close();tripVisible=true" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div>
                <!-- <div>&nbsp;</div>
                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div> -->
            </div>
        </div>




    </div>
    <div>&nbsp;</div>

    <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

        <div class="flex align-items-start lg:justify-content-between">
            <div>
                <div class="font-medium text-3xl text-900">Customers</div>
                <div class="flex align-items-center text-700 flex-wrap">
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center text-700 flex-wrap mt-3 lg:mt-0">
                <div>
                    <button pButton pRipple label="" (click)="messageService.clear();confirmationService.close();customerVisible=true" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div>
                <!-- <div>&nbsp;</div>
                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div> -->
            </div>
        </div>







    </div>

    <div>&nbsp;</div>
    <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

        <div class="flex align-items-start lg:justify-content-between">
            <div>
                <div class="font-medium text-3xl text-900">Uploads</div>
                <div class="flex align-items-center text-700 flex-wrap">
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center text-700 flex-wrap mt-3 lg:mt-0">
                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-plus"></button>
                </div>
                <!-- <div>&nbsp;</div>
                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div> -->
            </div>
        </div>







    </div>

    <div>&nbsp;</div>
    <div class="surface-ground border-round px-3 py-3 md:px-6 lg:px-8">

        <div class="flex align-items-start lg:justify-content-between">
            <div>
                <div class="font-medium text-3xl text-900">Rewards</div>
                <div class="flex align-items-center text-700 flex-wrap">
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                    <div class="mr-5 flex align-items-center mt-3">
                        <i class="pi pi-users mr-2"></i>
                        <span>332 Active Users</span>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center text-700 flex-wrap mt-3 lg:mt-0">
                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-plus"></button>
                </div>
                <!-- <div>&nbsp;</div>
                <div>
                    <button pButton pRipple label="" class="p-button-outlined" icon="pi pi-chevron-right"></button>
                </div> -->
            </div>
        </div>







    </div>
</div>


<p-dialog [modal]="true" header="Location Details" [(visible)]="locationVisible" [style]="{'width':'500px'}">
    <app-trip></app-trip>
</p-dialog>

<p-dialog [modal]="true" header="Trip Details" [(visible)]="tripVisible" [style]="{'width':'500px'}">
    <app-schedule></app-schedule>
</p-dialog>

<p-dialog [modal]="true" header="Customer Details" [(visible)]="customerVisible" [style]="{'width':'500px'}">
    <app-customer></app-customer>
</p-dialog>