<p-toast></p-toast>
<div class="p-2 sticky flex justify-content-between" style="padding-left:5px; background-color: white;">

    <div style="padding-top:0px;">
        <img style='cursor:pointer' src="assets/images/jollylogo1.png" height="60" class="mr-2">
    </div>




    <div class="grid"
        style="margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:5px; padding:0px; cursor: pointer; text-align: center;align-items: center;"
        >

        <!-- <div style="padding:0px">
            Home
        </div> -->

        <div style="padding:0px" *ngIf="!loginStatus.loginStatus" class="text-bold">
            <u (click)="login(0)">Login</u>
            <!-- <u (click)="login(1)">Sign Up</u> -->
            <!-- <i class="pi pi-bars" style="color: slateblue; text-align: center;align-items: center;">&nbsp;</i> -->
        </div>

        <div style="padding:0px" *ngIf="loginStatus.loginStatus" (click)="sidebarVisible=true;" class="text-bold">

            Hi {{loginStatus.userId}}! &nbsp; <i class="pi pi-bars"
                style="color: slateblue; text-align: center;align-items: center;">&nbsp;</i>
        </div>

    </div>




</div>


<!-- <p-sidebar [(visible)]="sidebarVisible" position="right">

    <ng-template pTemplate="header">
        <h3>Menu</h3>
    </ng-template>
    <p-panelMenu [model]="menuItems" [style]="{'background-color':'white'}"></p-panelMenu>

</p-sidebar> -->

<div class="hero-container p-d-flex p-jc-center p-ai-center"
    style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/images/hero.jpg);background-size: cover;">
    <div class="hero-content p-text-center">
        <!-- <h1 class="p-text-bold p-text-white" style="font-size: 3rem;">Welcome to our website!</h1>
      <p class="p-text-white" style="font-size: 1.5rem;">This is a sample hero section built with Angular and PrimeNG.</p>
      <p-button label="Get Started" [routerLink]="['/']" pRipple styleClass="p-button-raised p-button-rounded" style="background-color: #ffffff; color: #667eea;"></p-button> -->
        <section style=" padding:0">

            <!-- <span class="text-4xl text-white text-700 font-bold mb-3 ">Experience the Extraordinary</span> -->

            <div class="block text-8xl font-bold mb-1 grey-qo-regular">Jolly Vacations</div>

            <p class="p-1 mt-0 mb-4 text-700 line-height-3 text-white">Let us guide you to Unique and Unforgettable
                Travel Experiences
                <br />Your Journey Starts Now
            </p>

            <div class="grid p-3">
                <div class="col-12">
                    <div class="p-inputgroup">

                        <input type="text" pInputText placeholder="Your Mobile Number">
                        <button type="button" pButton pRipple label="Call Back"></button>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>




<!-- <div class="grid grid-nogutter surface-section text-800" style="padding:0">
    <div class="col-12 md:col-6 p-3 text-center md:text-left flex align-items-center " style="padding:1 !important">
        <section style="padding:0">

            <span class="text-4xl text-primary font-bold mb-3">Experience the Extraordinary</span>

            <div class="block text-8xl font-bold mb-1 grey-qo-regular">Jolly Vacations</div>

            <p class="mt-0 mb-4 text-700 line-height-3">Let us guide you to unique and unforgettable travel experiences.
                Your Journey starts now</p>

                <div class="grid p-fluid">
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            
                            <input type="text" pInputText placeholder="Your Mobile Number">    
                            <button type="button" pButton pRipple label="Call Back"></button>     
                        </div>
                    </div>
                    </div>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/images/hero.jpg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div> -->



<div class="surface-section text-center mb-6" style="padding-top:6rem">
    <div class="mb-4 text-5xl">
        <span class="text-900">Explore Hidden Gems</span>
        <!-- <span class="text-blue-600">One Membership, Many Experiences</span> -->
    </div>
    <div class="text-700 mb-4"><span class="font-bold text-blue-600">One Membership, Many Experiences</span> </div>

    <div class="text-700 mb-6">Discover Unique Accommodations and Local Eateries for an Unforgettable Experience</div>

    <div class="grid">

        <div class="col-2" *ngIf="!isMobile"></div>
        <div class="col-12 lg:col-4">

            <div class="flex flex-column surface-card">
                <img  src="assets/images/goa_new (1).jpg" alt="Image"
                    style="border-radius: 20px;cursor: pointer;">

                <p>
                    <p-button styleClass="p-button-outlined" >
                        <img alt="logo" src="assets/images/logo_goa.jpg" style="width: 1rem" />
                        <span class="ml-2 font-bold">Book Now</span>
                    </p-button>

                </p>
            </div>
        </div>

        <div class="col-12 lg:col-4">

            <div class="flex flex-column surface-card">
                <img src="assets/images/bangkok_new (1).jpg" alt="Image"
                    style="border-radius: 20px;cursor: pointer;">

                <p>
                    <p-button styleClass="p-button-outlined" >
                        <img alt="logo" src="assets/images/logo_bangkok.jpg" style="width: 1rem" />
                        <span class="ml-2 font-bold">Book Now</span>
                    </p-button>

                </p>

            </div>
        </div>

    </div>

</div>



<!-- <div class="surface-section text-center">
    <div class="mb-4 font-bold text-5xl">
        <span class="text-900">Out-Of-The Way Places</span>

    </div>

    <div class="grid">
        <div class="col-12 lg:col-6">

            <div class="flex flex-column surface-card">
                <p-carousel [showNavigators]="isMobile" [showIndicators]="false"
                    [value]="[1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [autoplayInterval]="2000" [circular]="true"
                    style="width:280">
                    <ng-template let-car pTemplate="item">
                        <img src="assets/images/goa ({{car}}).jpg" alt="Image" [width]="isMobile?'240':'300'"
                            height="isMobile?'400':'500'">
                    </ng-template>
                </p-carousel>
            </div>
        </div>

        <div class="col-12 lg:col-6">

            <div class="flex flex-column surface-card">
                <p-carousel [showNavigators]="isMobile" [showIndicators]="false"
                    [value]="[1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [autoplayInterval]="2000" [circular]="true"
                    style="width:280">
                    <ng-template let-car pTemplate="item">
                        <img src="assets/images/bangkok ({{car}}).jpg" alt="Image" [width]="isMobile?'240':'300'"
                            height="isMobile?'400':'500'">
                    </ng-template>
                </p-carousel>

            </div>
        </div>

    </div>
</div> -->

<div style="padding-top:3rem; padding-bottom:3rem; background-color: aliceblue;">
    <div class="text-700 text-center">

        <!-- <div class="text-900 font-bold text-5xl mb-3">Join us as we guide you to the best hidden treasures waiting
            to be discovered!</div> -->
        <div class="text-900 text-5xl mb-3 p-1">Uncover unique lodging options and authentic experiences that enhance
            your journey</div>
        <button pButton pRipple label="Join Now" icon="pi pi-discord" 
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>

<div class="surface-section text-center" style="padding-top:3rem">
    <div class="mb-4 text-5xl">
        <span class="text-900">Explore Off-The-Beaten-Path</span>

    </div>
    <div class="grid">
        <div class="col-12 lg:col-6">
            <div class=" h-full">
                <div class="h-full flex flex-column surface-card">


                    <p-carousel [showNavigators]="isMobile" [showIndicators]="false"
                        [value]="[1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [autoplayInterval]="2000" [circular]="true"
                        style="width:280">
                        <ng-template let-car pTemplate="item">
                            <img src="assets/images/goa ({{car}}).jpg" alt="Image" [width]="isMobile?'240':'300'"
                                height="isMobile?'400':'500'">
                        </ng-template>
                    </p-carousel>

                </div>
            </div>
        </div>


        <div class="col-12 lg:col-6">
            <div class="h-full">
                <div class="h-full flex flex-column surface-card">

                    <p-carousel [showIndicators]="false" [showNavigators]="isMobile"
                        [value]="[1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [autoplayInterval]="2100" [circular]="true"
                        [style]="{'width':280}">
                        <ng-template let-car pTemplate="item">
                            <img src="assets/images/bangkok ({{car}}).jpg" alt="Image" [width]="isMobile?'240':'300'"
                                height="isMobile?'400':'500'">
                        </ng-template>
                    </p-carousel>

                </div>
            </div>
        </div>

    </div>
    <div class="grid {{isMobile?'':'p-6'}}">






        <div class="p-4 w-full lg:w-6">
            <div [class]="isMobile?'p-3 shadow-2 flex flex-column surface-card':'flex flex-column surface-card'"
                style="border-radius: 6px">
                <div class="block text-5xl mb-3 text-left" style="padding-top:3rem">Contact
                    Jolly Vacations</div>


                <div class="text-900 text-2xl mb-6 text-left"> Get in touch for Unique Travel Recommendations </div>


                <div class="text-900 font-bold text-left" style="padding-top:3rem"> Connect </div>
                <div class="text-900 text-left"> 1234567890 </div>

                <div class="text-900 font-bold text-left" style="padding-top:3rem"> Reach </div>
                <div class="text-900 text-left"> info@jollyvacations.com </div>
            </div>
        </div>


        <div class="p-3 w-full lg:w-6">

            <div [class]="isMobile?'p-3 shadow-2 flex flex-column surface-card':'flex flex-column surface-card'"
                style="border-radius: 6px">
                <label for="name" class="block text-900 font-medium mb-2 text-left">Your Name</label>
                <input id="name" type="text" placeholder="Name" pInputText class="w-full mb-3">

                <label for="email" class="block text-900 font-medium mb-2 text-left">Your Email</label>
                <input id="email" type="text" placeholder="Email Address" pInputText class="w-full mb-3">

                <label for="comments" class="block text-900 font-medium mb-2 text-left">Your Message</label>
                <textarea id="comments" rows="7" cols="30" placeholder="Your Message" pInputTextArea
                    class="w-full mb-3"></textarea>

                <button pButton pRipple label="Contact us" icon="pi pi-phone" class="w-full"></button>
            </div>
        </div>

    </div>

    <div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
        style="text-align:center">
        Copyright © 2024 Jolly Vacations | All rights reserved.

    </div>
    <!-- 
    <p-dialog [modal]="true" header="Provide OTP" [(visible)]="loginOtpVisible" [style]="{'width':'500px'}">

        
        <input id="OTP" type="text" [(ngModel)]="password" placeholder="OTP" pInputText class="w-full mb-3">
        <button pButton pRipple label="Login" (click)="login()" class="w-full"></button>
    </p-dialog> -->

    <p-dialog [modal]="true" header="Provide OTP" [(visible)]="signOtpVisible" [style]="{'width':'500px'}">

        <!-- <label for="OTP" class="block text-900 font-medium mb-2 text-left">OTP</label> -->
        <input id="OTP" type="text" [(ngModel)]="password" placeholder="OTP" pInputText class="w-full mb-3">
        <button pButton pRipple label="Verify OTP" (click)="verifyOTP()" class="w-full"></button>
    </p-dialog>

    <p-dialog [modal]="true" header="Login / Signup" [(visible)]="loginVisible" [style]="{'width':'500px'}">

        <p-messages></p-messages>

        <p-tabView [(activeIndex)]="activeIndex1" class="text-center">
            <p-tabPanel header="Login">

                <label for="mobile" class="block text-900 font-medium mb-2 text-left">Mobile</label>
                <input id="mobile" type="text" [(ngModel)]="mobile" placeholder="Mobile" pInputText class="w-full mb-3">


                <button pButton pRipple label="Send OTP" (click)="sendOTP()" class="w-full"></button>

            </p-tabPanel>
            <p-tabPanel header="Signup">
                <label for="name" class="block text-900 font-medium mb-2 text-left">Name</label>
                <input id="name" type="text" placeholder="Name" [(ngModel)]="name" pInputText class="w-full mb-3">

                <label for="mobile" class="block text-900 font-medium mb-2 text-left">Mobile</label>
                <input id="mobile" type="text" placeholder="Mobile" [(ngModel)]="mobile" pInputText class="w-full mb-3">

                <label for="email" class="block text-900 font-medium mb-2 text-left">Email</label>
                <input id="email" type="text" [(ngModel)]="email" [(ngModel)]="email" placeholder="Email Address"
                    pInputText class="w-full mb-3">

                <button pButton pRipple label="Sign Up" (click)="signin()" class="w-full"></button>

            </p-tabPanel>

        </p-tabView>


    </p-dialog>



    

    <p-dialog [modal]="true" [closable]="false" [header]="header" [(visible)]="loading">
        <div class="grid justify-content-between">
            <div>

                <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>

            </div>
        </div>
    </p-dialog>