<p-toast></p-toast>
<div class="text-center mb-3">
            <img src="assets/images/logo1.jpg" alt="Logo" height="150" />
        </div> 
 
 <p-dialog [modal]="false"  header="Provide OTP" [(visible)]="signOtpVisible" [style]="{'width':'500px'}">

        <!-- <label for="OTP" class="block text-900 font-medium mb-2 text-left">OTP</label> -->
        <input id="OTP" type="text" [(ngModel)]="password" placeholder="OTP" pInputText class="w-full mb-3">
        <button pButton pRipple label="Verify OTP" (click)="verifyOTP()" class="w-full"></button>
    </p-dialog>

    <p-dialog header="Login" [closable]="false" [(visible)]="loginVisible" [style]="{'width':'500px'}">

        
        <p-messages></p-messages>

        <p-tabView [(activeIndex)]="activeIndex1" class="text-center">
            <p-tabPanel header="Login">

                <label for="mobile" class="block text-900 font-medium mb-2 text-left">Mobile</label>
                <input id="mobile" type="text" [(ngModel)]="mobile" placeholder="Mobile" pInputText class="w-full mb-3">


                <button pButton pRipple label="Send OTP" (click)="sendOTP()" class="w-full"></button>

            </p-tabPanel>
            <!-- <p-tabPanel header="Signup">
                <label for="name" class="block text-900 font-medium mb-2 text-left">Name</label>
                <input id="name" type="text" placeholder="Name" [(ngModel)]="name" pInputText class="w-full mb-3">

                <label for="mobile" class="block text-900 font-medium mb-2 text-left">Mobile</label>
                <input id="mobile" type="text" placeholder="Mobile" [(ngModel)]="mobile" pInputText class="w-full mb-3">

                <label for="email" class="block text-900 font-medium mb-2 text-left">Email</label>
                <input id="email" type="text" [(ngModel)]="email" [(ngModel)]="email" placeholder="Email Address"
                    pInputText class="w-full mb-3">

                <button pButton pRipple label="Sign Up" (click)="signin()" class="w-full"></button>

            </p-tabPanel> -->

        </p-tabView>


    </p-dialog>

     <p-dialog [modal]="true" [closable]="false" [header]="header" [(visible)]="loading">
        <div class="grid justify-content-between">
            <div>

                <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>

            </div>
        </div>
    </p-dialog>