<div class="sticky flex justify-content-between" style="padding-left:5px; background-color: white;">

    <div style="padding-top:0px;">
        <img style='cursor:pointer' src="assets/images/logo.png" height="50" class="mr-2">
    </div>








</div>


<p-sidebar [(visible)]="sidebarVisible" position="right">

    <ng-template pTemplate="header">
        <h3>Menu</h3>
    </ng-template>
    <p-panelMenu [model]="menuItems" [style]="{'background-color':'white'}"></p-panelMenu>

</p-sidebar>


