<div class="sticky flex justify-content-between" style="padding-left:5px; padding-top:5px; background-color: white;">
    <!-- <p-menubar [model]="menuItems"
        [style]="{'background-color':'white', 'width': '100%' , 'height':'5em','border-width':0,'padding-top':'1em','border-radius':0,'vertical-align':'middle'}">

        <ng-template [pTemplate]="'start'">
            <img (click)='toHome()' style='cursor:pointer' src="assets/images/logo.png" height="60" class="mr-2">

        </ng-template>

    </p-menubar> -->
    <div>
        <img (click)='toHome()' style='cursor:pointer' src="assets/images/logo.png" height="40" class="mr-2">
    </div>
    <div #myDiv class="grid" *ngIf="role==='Customer'"
        style="margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:5px; padding:0px; cursor: pointer; text-align: center;align-items: center;"
        (click)="sidebarVisible=true;">
        <div style="padding:0px">
            <img style='cursor:pointer' [src]="logo" height="40">
        </div>
        <div style="padding:0px">
            &nbsp;<i class="pi pi-chevron-down"
                style="color: slateblue; text-align: center;align-items: center;">&nbsp;</i>
        </div>





    </div>

    <div class="grid" *ngIf="role==='Designer'"
        style="margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:5px; padding:0px; cursor: pointer; text-align: center;align-items: center;"
        (click)="sidebarVisible=true;">
        <div style="padding:0px">
            &nbsp;<i class="pi pi-bars"
                style="color: slateblue; text-align: center;align-items: center;">&nbsp;</i>
        </div>





    </div>





</div>


<p-sidebar [(visible)]="sidebarVisible" position="right">

    <ng-template pTemplate="header">
        <h3>Menu</h3>
    </ng-template>
    <p-panelMenu [model]="menuItems" [style]="{'background-color':'white'}"></p-panelMenu>

</p-sidebar>

<p-dialog [modal]="true" header="Edit Content" [(visible)]="editContentVisible">


    <div>
        <label for="email1" class="block text-900 font-medium mb-2">Line 1</label>
        <input id="email1" type="text" placeholder="Line 1" pInputText [(ngModel)]="line1" class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Line 2</label>
        <input id="password1" type="text" placeholder="Line 2" [(ngModel)]="line2" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Line 3</label>
        <input id="password1" type="text" placeholder="Line 3" [(ngModel)]="line3" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Line 4</label>
        <input id="password1" type="text" placeholder="Line 4" [(ngModel)]="line4" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Email</label>
        <input id="password1" type="text" placeholder="Email" [(ngModel)]="email" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Website</label>
        <input id="password1" type="text" placeholder="Website" [(ngModel)]="website" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Address</label>
        <input id="password1" type="text" placeholder="Address" [(ngModel)]="address" pInputText class="w-full mb-3">



    </div>


    <ng-template pTemplate="footer">
        <br />
        <button pButton pRipple label="Submit" icon="pi pi-user" (click)="editContent()" class="w-full"></button>
    </ng-template>

</p-dialog>




<p-dialog [modal]="true" header="Upload Logo" [(visible)]="editLogoVisible">
    <!-- <label for="logo" class="block text-900 font-medium mb-2">Upload Logo</label> -->
    <p-fileUpload name="file" url="https://heidigi-app-38b2318c83b0.herokuapp.com/uploadLogo" (onUpload)="onUpload($event)" accept="image/*"
        [maxFileSize]="5000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>




</p-dialog>


<p-dialog [modal]="true" header="Upload Image" [(visible)]="uploadImageVisible">
    <!-- <label for="logo" class="block text-900 font-medium mb-2">Upload Image</label> -->
    <p-fileUpload name="file" url="https://heidigi-app-38b2318c83b0.herokuapp.com/uploadImage" (onUpload)="onUpload($event)" accept="image/*"
        [maxFileSize]="5000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</p-dialog>


<p-dialog [modal]="true" header="Upload Photo" [(visible)]="uploadPhotoVisible">
    <!-- <label for="logo" class="block text-900 font-medium mb-2">Upload Image</label> -->
    <p-fileUpload name="file" url="https://heidigi-app-38b2318c83b0.herokuapp.com/uploadPhoto" (onUpload)="onUpload($event)" accept="image/*"
        [maxFileSize]="5000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</p-dialog>



<p-dialog [modal]="true" header="Upload Video" [(visible)]="uploadVideoVisible">
    <!-- <label for="logo" class="block text-900 font-medium mb-2">Upload Image</label> -->
    <p-fileUpload name="file" url="https://heidigi-app-38b2318c83b0.herokuapp.com/uploadVideo" (onUpload)="onUpload($event)" accept=".mp4"
        [maxFileSize]="20000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</p-dialog>

<!-- <p-dialog [modal]="true" header="Edit Address" [(visible)]="editAddressVisible">

    <div>
        <textarea rows="5" cols="30" [(ngModel)]="address" pInputTextarea></textarea>
    </div>

    <div>&nbsp;</div>

    <div style="text-align: right">
        <p-button label="Edit" icon="pi pi-check" styleClass="p-button-sm" (click)="editAddress()"></p-button>
    </div>




</p-dialog> -->



<p-dialog [modal]="true" [closable]="false" [header]="successString" [(visible)]="uploadSuccess">
    <p>
        <img src="assets/images/success.jpg" alt="Image" height="200">
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-home" label="Home" (click)="uploadSuccess=false;window.location.reload();"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Select Template" [modal]="true" [(visible)]="editTemplateVisible">
    <div style='text-align:center' style="width:290px;height:290px">
        <ng-container *ngIf="templateImage">
            <img [src]="templateImage" style="width:290px;height:290px">
        </ng-container>

        <ng-container *ngIf="!templateImage">
            <div style='text-align:center;'>
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            </div>
        </ng-container>
    </div>

    <div style='text-align:center'>
        &nbsp;
    </div>
    <div class="grid justify-content-between">
        <div>
            <p-selectButton [options]="paymentOptions" [(ngModel)]="template" (ngModelChange)="templateChange()"
                [multiple]="false" optionLabel="name" optionValue="value"></p-selectButton>
        </div>


        <div>
            <p-button icon="pi pi-check" (click)="changeTemplate()"></p-button>
        </div>
    </div>



</p-dialog>

<p-blockUI [blocked]="loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color:#B6FFFA"></i>
</p-blockUI>