<div class="p-2 sticky flex justify-content-between" style="padding-left:5px; background-color: white;">

    <div style="padding-top:0px;">
        <img style='cursor:pointer' src="assets/images/jollylogo1.png" width="150" class="mr-2">
    </div>




    <div class="grid"
        style="margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:5px; padding:0px; cursor: pointer; text-align: center;align-items: center;">

       



        <div style="padding:0px" class="text-bold" (click)="sidebarVisible=true">

            Hi 9449840144! &nbsp; <i class="pi pi-bars"
                style="color: slateblue; text-align: center;align-items: center;">&nbsp;</i>
        </div>

    </div>




</div>


<p-sidebar [(visible)]="sidebarVisible" position="right">

    <ng-template pTemplate="header">
        <h3>Menu</h3>
    </ng-template>
    <p-panelMenu [model]="menuItems" [style]="{'background-color':'white'}"></p-panelMenu>

</p-sidebar>