
  
<div style='margin:auto; padding: 0;display: flex;justify-content: center;align-items: center; width:100%; height:100%'>

   

    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">

        <p-messages></p-messages>

            <span *ngIf='back' class="text-900 text-xl mb-3 font-medium" style="align-items:left; text-align:left"><button pButton pRipple type="button" icon="pi pi-arrow-left" (click)='goBack()' class="p-button-rounded p-button-outlined"></button>&nbsp;</span> 
           

        <span class="text-900 text-xl mb-3 font-medium" style="text-align:center"> <b>Profile </b></span>
        <p-tabView>
            <p-tabPanel header="Logo">
                <div class="flex justify-content-center" *ngIf="logo">
                    <p-image src="https://heidigi-app-38b2318c83b0.herokuapp.com/image/{{logo}}" alt="Image" height="100"
                        ></p-image>
                </div>

                <div class="flex justify-content-center" *ngIf="!logo"
                    style="height:100px;text-align:center;align-items:center">
                    <span><i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                    </span>
                </div>
                <p-fileUpload #uploader name="file" url="https://heidigi-app-38b2318c83b0.herokuapp.com/uploadLogo"
                  (onBeforeUpload)="onBeforeUpload($event)" [showUploadButton]="false" (onUpload)="onUpload($event)" accept="image/*" [maxFileSize]="20000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                    <ng-template pTemplate="content" let-files>
                        <div *ngIf="files.length>=1" style="text-align:center;align-items:center"> <p-button label="Upload" icon="pi pi-upload" (click)="uploader.upload()"> </p-button> </div>
                      </ng-template>
                </p-fileUpload>


            </p-tabPanel>
            <p-tabPanel header="User Photo">

                <div class="flex justify-content-center" *ngIf="photo">
                    <p-image src="https://heidigi-app-38b2318c83b0.herokuapp.com/image/{{photo}}" alt="Image" height="100"
                        ></p-image>
                </div>

                <div class="flex justify-content-center" *ngIf="!photo"
                    style="height:100px;text-align:center;align-items:center">
                    <span><i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                    </span>
                </div>
                <p-fileUpload name="file" #uploader1 url="https://heidigi-app-38b2318c83b0.herokuapp.com/uploadPhoto"
                (onBeforeUpload)="onBeforeUpload($event)" [showUploadButton]="false"  (onUpload)="onUploadPhoto($event)" accept="image/*" [maxFileSize]="20000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                    <ng-template pTemplate="content" let-files>
                        <div *ngIf="files.length>=1" style="text-align:center;align-items:center"> <p-button label="Upload" icon="pi pi-upload" (click)="uploader1.upload()"> </p-button> </div>
                      </ng-template>
                </p-fileUpload>



            </p-tabPanel>
            <p-tabPanel header="Other Details" >
                <div [style]="{ width: '100%', height: '310px','overflow': 'auto', 'padding':'0','padding-right':'5px'  }" >
                <div style="padding-bottom:3px;text-align:center;align-items: center;" class="flex justify-content-between">
                    <div style="padding-right:3px;">                    Line 1 
                    </div>
                    <div>
                    <input type="text" placeholder="Line 1" class="p-inputtext-sm" pInputText [(ngModel)]="line1">
                    </div>
                </div>
                <div style="padding-bottom:3px;text-align:center;align-items: center;" class="flex justify-content-between">
                    <div style="padding-right:3px;">                      Line 2 
                    </div>
                    <div>
                    <input type="text" placeholder="Line 2" class="p-inputtext-sm" pInputText [(ngModel)]="line2">
                    </div>
                </div>
                <div style="padding-bottom:3px;text-align:center;align-items: center;" class="flex justify-content-between">
                    <div style="padding-right:3px;">                       Line 3 
                    </div>
                    <div>
                    <input type="text" placeholder="Line 3" class="p-inputtext-sm" pInputText [(ngModel)]="line3">
                    </div>
                </div>
                <div style="padding-bottom:3px;text-align:center;align-items: center;" class="flex justify-content-between">
                    <div style="padding-right:3px;">                       Line 4 
                    </div>
                    <div>
                    <input type="text" placeholder="Line 4" class="p-inputtext-sm" pInputText [(ngModel)]="line4">
                    </div>
                </div>

                <div style="padding-bottom:3px;text-align:center;align-items: center;" class="flex justify-content-between">
                    <div style="padding-right:3px;">                       Email
                    </div>
                    <div>
                    <input type="text" placeholder="Email" class="p-inputtext-sm" pInputText [(ngModel)]="email">
                    </div>
                </div>

                <div style="padding-bottom:3px;text-align:center;align-items: center;" class="flex justify-content-between">
                    <div style="padding-right:3px;">                        Website
                    </div>
                    <div>
                    <input type="text" placeholder="Website" class="p-inputtext-sm" pInputText [(ngModel)]="website">
                    </div>
                </div>
                <div style="padding-bottom:3px;text-align:center;align-items: center;" class="flex justify-content-between">
                    <div style="padding-right:3px;">                        Address
                    </div>
                    <div>
                    <input type="text" placeholder="Address" class="p-inputtext-sm" pInputText [(ngModel)]="address">
                    </div>
                </div>
                

                <div>&nbsp;</div>


                <div>
                    <button pButton pRipple label="Submit" (click)="editContent()"  icon="pi pi-user" class="w-full"></button>

                </div>
</div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>


<p-dialog [modal]="true" [closable]="true" [header]="successString" [(visible)]="uploadSuccess">
    <p>
        <img src="assets/images/success.jpg" alt="Image" height="200">
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" label="Done" (click)='uploadSuccess=false' styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-blockUI [blocked]="loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color:#B6FFFA"></i>
</p-blockUI>